:root {
    --red: #ED1C24;
    --black: #222222;
    --grey: #AAAAAA;
    --white: #DDDDDD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html,
body {
    background: var(--white);
    font-family: 'Raleway', sans-serif; 
    font-style: normal;
    font-size: 1rem;
}

h1 {
    font-size: 2.4rem;
    color: var(--red);
    font-family: 'Recursive', sans-serif;
}

#top {
    min-height: 90vh;
    width: 100vw;
    background: url('../img/header.jpg') top center no-repeat;
    background-size: cover;
}

nav {
    width: 100vw;
    background: #eee;
    color: #555;
    padding: 0 15px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    height: 80%;
}
  
  nav ul li {
    list-style: none;
    display: flex;
}
  
  nav ul li a {
    text-decoration: none;
    color: var(--black);
    margin-left: auto;
}
  
  nav ul li a:hover {
    color: var(--red);
}
  
  nav ul.menu {
    background: #ddd;
    position: absolute;
    top: 75px;
    left: 0px;
    right: 0px;
    padding: 15px;
    display: none;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
}
  
  nav ul.button {
    display: flex;
    padding: 1px;
}
  
  nav ul.button .icon {
    width: 32px;
    height: 32px;
    background: url("https://image.flaticon.com/icons/svg/1828/1828863.svg") no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: transform 0.2s;
}
  
  nav ul.button .icon:hover {
    transform: scale(1.1);
}
  
  @media(min-width: 700px) {
    nav ul.menu {
      display: grid !important;
      grid-template-columns: repeat(3, 1fr);
      background: none;
      position: relative;
      top: 0px;
      padding: 0;
      padding-right: 20px;
      gap: 20px;
    }
    nav ul.button {
      display: none;
    }
}

#top .header-title {
    font-size: 80%;
    margin-top: 50vh;
    padding: 2.5rem 1.5rem;
    background: var(--white);
}

#top .header-title h1 {
    margin-bottom: 2rem;
    font-weight: 700;
}

#services {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#services .services-selection {
    font-size: 75%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.1rem;
}

#services .services-selection a.service-option {
    background: var(--red);
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
    padding: 1rem;
    color: var(--white);
    justify-content: flex-start;
    transition: background 0.5s;
    cursor: pointer;
}

#services .services-selection a.service-option:hover {
    color: var(--red);
    background: var(--white);
}

#services .services-selection .service-option i {
    font-size: 300%;
    margin-bottom: 1rem;
    overflow: hidden;
}

#services .services-selection .service-option p {
    overflow: hidden;
}

#services .services-content {
    margin: 1rem;
    display: flex;
    flex-direction: column-reverse;
}

#services .services-content .services-content-text p {
    margin-top: 1rem;
}

#services .services-content .services-content-image img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    margin-bottom: 2rem;
}

#contact {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

#contact .contact-image {
    height: 20rem;
    overflow: hidden;
}

#contact .contact-image img {
    height: 100%;
    object-fit: cover;
}

#contact .contact-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#contact .contact-content h1 {
    margin: 3rem 1rem
}

#contact .contact-content a {
    background: var(--red);
    font-size: 120%;
    text-decoration: none;
    text-align: center;
    border-radius: 0.3rem;
    display: flex;
    padding: 2rem 1rem;
    margin: 1rem;
    color: var(--white);
    justify-content: space-between;
    transition: background 0.5s;
    cursor: pointer;
    align-items: center;
}

#contact .contact-content a i {
    font-size: 200%;
    overflow: hidden;
}

#contact .contact-content a:hover {
    color: var(--red);
    background: var(--white);
}

footer {
    height: 3rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: var(--red);
}

@media(min-width: 700px) {
    

    #top .header-title {
        max-width: 400px;
        padding: 3rem;
        margin: 8rem 4rem;
        font-size: 110%;
    }

    #services {
        flex-direction: row;
        margin: 6rem 0 12rem 0;
    }

    #services .services-selection {
        font-size: 120%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5rem;
        margin: 1rem;
        margin-bottom: auto;
        max-width: 20rem;
    }

    #services .services-selection::before {
        content: 'Serviços';
        color: var(--red);
        font-family: 'Recursive', sans-serif;
        font-size: 2.6rem;
        font-weight: 700;
        margin-bottom: 5rem;
        margin-right: auto;
    }

    #services .services-selection a.service-option {
        height: 5rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: right;
        padding: 0.5rem;
    }

    #services .services-selection .service-option i {
        font-size: 200%;
        margin-bottom: 0;
    }

    #services .services-content {
        flex-direction: column;
        justify-content: flex-end;
    }

    #services .services-content .services-content-image img {
        height: 15rem;
        margin-bottom: 0;
        margin-top: 5rem;
        border-radius: 5rem 0.5rem 0.5rem 0.5rem;
    }

    #contact {
        flex-direction: row;
        background: #ED1C2422;
    }

    #contact .contact-image {
        height: 100%;
        width: 50%;
        border-radius: 0 5rem 5rem 0;
    }

    #contact .contact-content h1 {
        text-align: right;
        margin: 1rem;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-bottom: 20%;
    }

    #contact .contact-content a {
       padding: 1rem 0.5rem; 
       width: 16rem;
       margin-left: auto;
    }

    footer {
        height: 1.5rem;
        flex-direction: row-reverse;
        padding: 0 1rem;
    }
}